<div class="wrapper">
  <div class="box title">
    <img src="../assets/images/AiRISTA-FlowLogo-White.svg">
    <p style="display: inline; color: white;">Production Dashboard</p>
  </div>
  <app-video-stream class="box video-frame"></app-video-stream>
  <app-shelf-map class="box map" [input]="lastMsg"></app-shelf-map>
  <!-- <app-analytics class="box analytics" [input]="lastMsg" [alert]="alert"></app-analytics> --> <!-- Disabled MKL 4/4/2023 -->
  <app-himss-analytics class="box analytics"></app-himss-analytics>
</div>