.wrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    
    p {
        margin: 0px 0px 5px 0px;
    }

    br {
        margin-top: 10px;
    }

    progress {
        grid-column: 1 / 3;
        width: 800px;
        margin: 10px 0px 10px 0px;
    }
    
    .title {
        grid-column: 1;
        font-size: 24px;
    }
    .info {
        grid-column: 2;
        font-size: 24px;
    }
    .small-title {
        grid-column: 1;
        font-size: 14px;
    }
    .small-info {
        grid-column: 2;
        font-size: 14px;
    }
}

.subdued {
    color: rgb(137, 212, 200);
}

.button-row {
    position: absolute;
    right: 20px;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row-reverse;

    .button {
        padding: 10px;
        opacity: 20%;
    }
}

.line-chart {
    color: white;
    border: none;
    width: 100%;
}