<div class="wrapper">
  <div class="button-row">
    <button class="button" (click)="reset()">Reset</button>
  </div>

  <ngx-charts-number-card
    style="grid-column: 1; grid-row: 1"
    class="chart"
    [scheme]="colorScheme"
    [results]="completenessData"
  >
  </ngx-charts-number-card>
  <ngx-charts-gauge
    style="grid-column: 2; grid-row: 1"
    class="chart"
    [scheme]="colorScheme"
    [results]="completenessData"
    [max]="50"
    [showText]="false"
  >
  </ngx-charts-gauge>

  <ngx-charts-number-card
    style="grid-column: 1; grid-row: 2"
    class="chart"
    [scheme]="colorScheme"
    [results]="quotaData"
  >
  </ngx-charts-number-card>
  <ngx-charts-gauge
    style="grid-column: 2; grid-row: 2"
    class="chart"
    [scheme]="colorScheme"
    [results]="quotaData"
    [max]="50"
    [showText]="false"
  >
  </ngx-charts-gauge>

  <ngx-charts-number-card
    style="grid-column: 1; grid-row: 3"
    class="chart"
    [scheme]="colorScheme"
    [results]="inventoryData"
  >
  </ngx-charts-number-card>
  <ngx-charts-gauge
    style="grid-column: 2; grid-row: 3"
    class="chart"
    [scheme]="colorScheme"
    [results]="inventoryData"
    [max]="50"
    [showText]="false"
  >
  </ngx-charts-gauge>

  <ngx-charts-number-card
    style="grid-column: 1; grid-row: 4"
    class="chart"
    [scheme]="colorScheme"
    [results]="completenessData"
  >
  </ngx-charts-number-card>
  <ngx-charts-line-chart
    style="grid-column: 2; grid-row: 4"
    class="line-chart"
    [view]="[500, 250]"
    [scheme]="colorScheme"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="'Time'"
    [yAxisLabel]="'Time (Seconds)'"
    [results]="taktTimes"
  >
  </ngx-charts-line-chart>

  <!--- Last Card --->>
  <ngx-charts-number-card
    style="grid-column: 1; grid-row: 5"
    class="chart"
    [scheme]="colorScheme"
    [results]="completenessData"
  >
  </ngx-charts-number-card>

</div>
