.wrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 24% 24% 24% 24% ;
    font-size: 12px;
    
    p {
        margin: 0px 0px 5px 0px;
    }

    .section {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 15% 15% 15% ;

        .title {
            grid-column: 1;
        }
        .info {
            grid-column: 2;
        }
    }
}

.button-row {
    position: absolute;
    right: 26px;
    display: flex;
    flex-direction: row-reverse;

    .button {
        padding: 10px 20px 10px 20px;
        background-color: #c01515;
        border: none;
        color: white;
        border-radius: 10px;
    }
}

.line-chart {
    color: white;
    border: none;
    width: 100%;
}